/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */

#copyright {
	text-align: right;
	font-style: italic;
}

.logo {
	position: relative;
	border: 5px solid #ccc;
}

.logo img {
	position: relative;
}

a.logo:hover {
	border: 5px solid #000;
}

#necklace-img {
	border: 5px solid rgb(152, 173, 166);
}

h1 {
	display: block;
	padding-top: 30px;
	padding-bottom: 0px;
	color: rgb(127,153,145);
	font-family: 'Baskerville', serif;
	font-size: 500%;
}

h2 {
	display: block;
	color: rgb(127,153,145);
	font-family: 'Baskerville', serif;
	font-size: 200%;
}
